@font-face {
    font-family: 'CaslonFont';
    src: url('../fonts/CaslonDoricCondensed-Bold.woff2') format('woff2'),
         url('../fonts/CaslonDoricCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PrincetonMonticelloFont';
    src: url('../fonts/PrincetonMonticelloDisplay-Regular.woff2') format('woff2'),
         url('../fonts/PrincetonMonticelloDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PrincetonMonticelloFont', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'CaslonFont', sans-serif;
    background-color: rgb(51,25,75);
    color: white;
    padding: 10px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes items to edges */
    font-size: 24px;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 120px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto; /* Pushes links to the right */
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: rgb(217,193,250);
    text-decoration: none;
}

main {
    padding: 10px 120px;
    text-align: center;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    nav {
        padding: 10px 20px;
    }
    
    .nav-container {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        margin-bottom: 10px;
    }
    
    .nav-links {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .nav-links li {
        margin: 5px 0;
        margin-left: 0;
    }
    
    main {
        padding: 10px 20px;
    }
}