pre { line-height: 125%; }
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hl .hll { background-color: #ffffcc }
.hl { background: #f0f0f0; }
.hl .c { color: #60A0B0; font-style: italic } /* Comment */
.hl .err { border: 1px solid #F00 } /* Error */
.hl .k { color: #007020; font-weight: bold } /* Keyword */
.hl .o { color: #666 } /* Operator */
.hl .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
.hl .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
.hl .cp { color: #007020 } /* Comment.Preproc */
.hl .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
.hl .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
.hl .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
.hl .gd { color: #A00000 } /* Generic.Deleted */
.hl .ge { font-style: italic } /* Generic.Emph */
.hl .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.hl .gr { color: #F00 } /* Generic.Error */
.hl .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hl .gi { color: #00A000 } /* Generic.Inserted */
.hl .go { color: #888 } /* Generic.Output */
.hl .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
.hl .gs { font-weight: bold } /* Generic.Strong */
.hl .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hl .gt { color: #04D } /* Generic.Traceback */
.hl .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.hl .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.hl .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.hl .kp { color: #007020 } /* Keyword.Pseudo */
.hl .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.hl .kt { color: #902000 } /* Keyword.Type */
.hl .m { color: #40A070 } /* Literal.Number */
.hl .s { color: #4070A0 } /* Literal.String */
.hl .na { color: #4070A0 } /* Name.Attribute */
.hl .nb { color: #007020 } /* Name.Builtin */
.hl .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
.hl .no { color: #60ADD5 } /* Name.Constant */
.hl .nd { color: #555; font-weight: bold } /* Name.Decorator */
.hl .ni { color: #D55537; font-weight: bold } /* Name.Entity */
.hl .ne { color: #007020 } /* Name.Exception */
.hl .nf { color: #06287E } /* Name.Function */
.hl .nl { color: #002070; font-weight: bold } /* Name.Label */
.hl .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
.hl .nt { color: #062873; font-weight: bold } /* Name.Tag */
.hl .nv { color: #BB60D5 } /* Name.Variable */
.hl .ow { color: #007020; font-weight: bold } /* Operator.Word */
.hl .w { color: #BBB } /* Text.Whitespace */
.hl .mb { color: #40A070 } /* Literal.Number.Bin */
.hl .mf { color: #40A070 } /* Literal.Number.Float */
.hl .mh { color: #40A070 } /* Literal.Number.Hex */
.hl .mi { color: #40A070 } /* Literal.Number.Integer */
.hl .mo { color: #40A070 } /* Literal.Number.Oct */
.hl .sa { color: #4070A0 } /* Literal.String.Affix */
.hl .sb { color: #4070A0 } /* Literal.String.Backtick */
.hl .sc { color: #4070A0 } /* Literal.String.Char */
.hl .dl { color: #4070A0 } /* Literal.String.Delimiter */
.hl .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
.hl .s2 { color: #4070A0 } /* Literal.String.Double */
.hl .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
.hl .sh { color: #4070A0 } /* Literal.String.Heredoc */
.hl .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
.hl .sx { color: #C65D09 } /* Literal.String.Other */
.hl .sr { color: #235388 } /* Literal.String.Regex */
.hl .s1 { color: #4070A0 } /* Literal.String.Single */
.hl .ss { color: #517918 } /* Literal.String.Symbol */
.hl .bp { color: #007020 } /* Name.Builtin.Pseudo */
.hl .fm { color: #06287E } /* Name.Function.Magic */
.hl .vc { color: #BB60D5 } /* Name.Variable.Class */
.hl .vg { color: #BB60D5 } /* Name.Variable.Global */
.hl .vi { color: #BB60D5 } /* Name.Variable.Instance */
.hl .vm { color: #BB60D5 } /* Name.Variable.Magic */
.hl .il { color: #40A070 } /* Literal.Number.Integer.Long */
.hl .c, .hl .c1, .hl .ch, .hl .cm, .hl .cs, .hl .cp { color: #72757b; font-style: normal; }
